.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  will-change: transform;
}

.background-layer {
  background: url("../assets/images/mansion2.jpg") center/cover no-repeat;
  z-index: 0;
}

.trees-layer {
  background: url("../assets/images/trees5.png") center bottom/cover no-repeat;
  z-index: 1;
  opacity: 0.9;
}

.cave-background-layer {
  background: url("../assets/images/cave2.jpg") center/cover no-repeat;
  z-index: 0;
}

.bats-layer {
  background: url("../assets/images/bats.png") center top/cover no-repeat;
  z-index: 3;
  opacity: 0.85;
  transform: scaleY(-1);
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6));
  z-index: 3;
}

.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.cave::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.2));
  z-index: 3;
}